.cta {
  /* Rectangle 73 */

  box-sizing: border-box;

  position: absolute;
  height: 680px;
  left: 0px;
  right: 0px;
  top: -9px;

  background: linear-gradient(
    178.04deg,
    rgba(225, 229, 239, 0) -13.28%,
    #e1e5ef 30.09%,
    #96a0bf 98.35%
  );
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}
